footer {
  padding: 80px 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: #4cc6d0;
  margin-top: 3em;
  margin-bottom: 0px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.marginBox {
  margin: 3em;
}

/*videos de el banner.*/
#video-container {
  height: 100h;
  padding: 0px;
}

#main-video {
  height: 130vh;
  padding: 0px;
}

#carouselExampleIndicators {
  margin-top: 2em;
}

a {
  color: green;
}